<!-- about.html -->

{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block body %}
<div class="jumbotron">
    <h1>About Fortune-of-the-Day Site:</h1>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat, justo ut faucibus malesuada, sem arcu malesuada tortor, et imperdiet arcu felis in dolor. Lorem ipsum dolor sit
    amet, consectetur adipiscing elit. Praesent volutpat lorem vitae lorem dignissim pharetra. Curabitur cursus non felis id aliquet. Vestibulum egestas magna ut ante suscipit elementum.
    Aliquam feugiat laoreet eros, at tincidunt sapien. Maecenas gravida ipsum cursus ipsum pretium, id dictum diam molestie.
    <br><br>
    Duis tincidunt justo ligula, eu iaculis dui semper vel. Proin tristique gravida suscipit. Nullam ac diam vel erat ornare dignissim. Suspendisse placerat lacus quis nibh venenatis 
    facilisis. In tortor neque, sollicitudin a pulvinar vel, finibus sed dui. Maecenas dignissim nisl at dolor maximus, sit amet mollis nunc ornare. Donec quis accumsan diam, sit amet 
    accumsan dolor. Donec feugiat lectus sapien, at iaculis quam cursus vitae. Vivamus ut finibus felis. Phasellus pulvinar dignissim ultricies. In non lacus commodo, porta metus a, 
    efficitur sapien.
    <br><br><br>
    <p class="lead">Created in 2019</p>
    <a href="/">Back Home</a>    
</div>
{% endblock %}