option_settings:
   aws:autoscaling:launchconfiguration:
      EC2KeyName: mbp_key
      SecurityGroups: sg-0a021389a5d55eb19
   aws:ec2:vpc:   
      VPCId: vpc-0b3b5afc685ccde72
      Subnets: subnet-0cfa33c0787538617
      ELBSubnets: subnet-0328b9fef2de4d13f
   aws:elb:loadbalancer:
      SecurityGroups: sg-0b09c739661ff0bcb
   aws:elasticbeanstalk:container:python:
      NumProcesses: 1
      NumThreads: 15
      StaticFiles: /static/=static/
      WSGIPath: run.py
   aws:elasticbeanstalk:application:environment:
      FLASK_APP: run.py
      SECRET_KEY: 258dee4391124f52a0c8a7e564e5f536
      MAIL_SERVER: 'smtp.gmail.com'
      MAIL_PORT: 587
      MAIL_USE_TLS: True
      MAIL_USERNAME: nessdev574@gmail.com
      MAIL_PASSWORD: QmP12rdBv3@g
      DATABASE_URL: "postgresql+psycopg2://fortuneadmin:foobarpassword@fortune-db.ctffmwo1n6aa.us-east-1.rds.amazonaws.com/fortunesite"